<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/current.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <h1>
                Todowoo
            </h1>
            <ul>
                <li><form method="POST" action="{% url 'logoutuser' %}">{% csrf_token %}<button type="submit" class="nav-btn">Logout</button></form></li>
            </ul>
        </nav>
    </header>
    <div class="container-current">
        <div class="nav">
            <h1>Todos</h1>
            <ul>
                <li class="active">
                    <a href="#" id="current">Current</a>
                </li>
                <li><a href="{% url 'completed_todos' %}">Completed</a></li>
                <li><a href="{% url 'create_todo' %}">Create</a></li>
            </ul>
        </div>
        <div class="todos-table">
            {% for todo in todos %}
            <a href="{% url 'detail_page' todo.id %}" class="todos-detail-link">
            <div class="todos-row">
                <div class="todos-column-1">
                    <h2>{{ todo.created }}</h2>
                </div>
                <div class="todos-column-2">
                    <h2>{{ todo.title }}</h2>
                </div>
            </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>